html {
  background-color: black;
}

h1,
h2,
button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 12px;
}
